.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.header {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}

.header-group-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.game {
    width: 100%;
    display: flex;
    justify-content: space-around;
}